<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/disclaimer">Disclaimer</a></li>
  <li><a href="{{ root_url }}/cv">Resume</a></li>
</ul>
